
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  overflow: hidden;
  position:fixed;
}

.my-dock-manager {
}

.output-window {
	width: 300px;
	height: 200px;
	background-color: #844;
}

.output-window2 {
	width: 300px;
	height: 200px;
	background-color: #448;
}

.output-window3 {
	width: 300px;
	height: 200px;
	background-color: #484;
}