
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  overflow: hidden;
  position:fixed;
}

.my-dock-manager {
}

.solution-window {
	width: 300px;
	height: 200px;
	background-color: #844;
}

.output-window {
	width: 300px;
	height: 200px;
	background-color: #448;
}

.properties-window {
	width: 300px;
	height: 200px;
	background-color: #484;
}

.toolbox-window {
	width: 300px;
	height: 200px;
	background-color: #488;
}

.editor1-window {
	width: 300px;
	height: 200px;
	background-color: #884;
}

.editor2-window {
	width: 300px;
	height: 200px;
	background-color: #848;
}

.outline-window {
	width: 300px;
	height: 200px;
	background-color: #648;
}

.problems-window {
	width: 300px;
	height: 200px;
	background-color: #486;
}